{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
        <h3>Olá!</h3>
        <p class="lead">Este app é um teste de seleção para a vaga de <b>dev full stack</b> da IBM. </p>
        <h4>Alessandro Bax</h4>
        <h5>abax@br.ibm.com / alessandrobaxba@gmail.com</h5>
        <h5>(31)98240-8504</h5>
        <ul class="list-group">
                <li class="list-group-item active">Requisitos Funcionais: </li>
                <li class="list-group-item">O app precisa receber uma url: <a href="/urlcrawler">URL Crawler</a></li>
                <li class="list-group-item">O app precisa encontrar todos os links presentes na página</li>
                <li class="list-group-item">O app precisa salvar todos os links em um banco</li>
                <li class="list-group-item">O app presisa listar todos os links salvos <a href="/links">Lista de Links</a></li>
        </ul>
        <ul class="list-group">
                <li class="list-group-item active">Requisitos de Entrega: </li>
                <li class="list-group-item">O app deve ser postado no Github</li>
                <li class="list-group-item">O código deve rodar em um Container(Docker)</li>
                <li class="list-group-item">O app deve ser hospedado na IBM Cloudant</li>
        </ul>
        <p>Este app foi desenvolvido usando <b>Python + Flask</b> e armazenando os dados no <b>Cloudant</b>!</p>
        <!--
        {% if session.logged_in == NULL %}
          <a href="/register" class="btn btn-primary btn-lg">Register</a>
          <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif %}
        -->
</div>
{% endblock %}